@import "src/App";
.carousel__main{
 @include df(space-between,center)
}
.card {
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.carousel {
  width: 50%;
}

.cards {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  margin-top: 100px;
}
.card {
  text-align: center;
  font-size: 25px;
  img{
    margin-top: 20px;
  }
}
.carousel__desc{
  width: 40%;
  transition: all .8s;
}

.carousel img {
  width: 100%;
  min-width: 414px;
  border-radius: 10px;
  object-fit: cover;
}
.carousel input{
  display: none;
}

#item-1:checked ~ .cards {
  #item-1 {
    transform: translatex(100%) scale(1.3);
    opacity: 1;
    z-index: 1;
  }

  #item-2 {
    transform: translatex(50%) scale(0.8);
    opacity: .4;
    z-index: 0;
  }

  #item-3 {
    transform: translatex(-100%) scale(0.8);
    opacity: .4;
    z-index: 0;
  }
  #item-4 {
    transform: translatex(-250%) scale(0.8);
    opacity: .4;
    z-index: 0;
  }
}

#item-2:checked ~ .cards {
  #item-2 {
    transform: translatex(0) scale(1.3);
    opacity: 1;
    z-index: 1;
  }

  #item-1 {
    transform: translatex(50%) scale(0.8);
    opacity: .4;
    z-index: 0;
  }

  #item-3 {
    transform: translatex(-50%) scale(0.8);
    opacity: .4;
    z-index: 0;
  }

  #item-4 {
    transform: translatex(-200%) scale(0.8);
    opacity: .4;
    z-index: 0;
  }
}

#item-3:checked ~ .cards {
  #item-3 {
    transform: translatex(-100%) scale(1.3);
    opacity: 1;
    z-index: 1;
  }

  #item-1 {
    transform: translatex(100%) scale(0.8);
    opacity: .4;
    z-index: 0;
  }
  #item-2 {
    transform: translatex(-50%) scale(0.8);
    opacity: .4;
    z-index: 0;
  }
  #item-4 {
    transform: translatex(-150%) scale(0.8);
    opacity: .4;
    z-index: 0;
  }

}

#item-4:checked ~ .cards {
  #item-4 {
    transform: translatex(-200%) scale(1.3);
    opacity: 1;
    z-index: 1;
  }

  #item-1 {
    transform: translatex(150%) scale(0.8);
    opacity: .4;
    z-index: 0;
  }
  #item-2 {
    transform: translatex(0) scale(0.8);
    opacity: .4;
    z-index: 0;
  }
  #item-3 {
    transform: translatex(-150%) scale(0.8);
    opacity: .4;
    z-index: 0;
  }

}