@import "../../App";
.main__container {
  padding-top: 20px;
  background-image: linear-gradient(to bottom, rgba(#C2B280, 0.75) 50%, rgba(green, 0.5));


  & > h2 {
    @include df(center, center);
    height: 1500px;

  }
  .main__posts_container{
    @include df(start, center);
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
   .main__post {
     width: 30%;
     @include df(start, center, column);
     gap: 20px;
     h2 {
       font-size: 2rem;

     }

     .main__post_img-container {
       cursor: pointer;
       height: 200px;
       width: auto;

       img {
         height: 100%;
       }
     }
   }
  }
}