.nav__content {
  position: sticky;
  position: -webkit-sticky; /* For Safari */
  top: 24px; /* How far down the page you want your ToC to live */
  background: white;

  /* Give table of contents a scrollbar */
  max-height: calc(100vh - 40px);
  overflow: auto;
  width: 20%;
  //box-shadow: 0 0  10px black;
  margin: 20px;
  border-radius: 10px;


}


a {
  color: grey;
  text-decoration: none;
}

li.active > a {
  color: blue;
}

li > a:hover {
  color: black;
}

li {
  list-style-type: 'â„';
  color: blue;
  padding: 10px;
  line-height: 20px;
}