@mixin df ($content,$contentItems,$dir : row){
  display: flex;
  justify-content: $content;
  align-items: $contentItems;
  flex-direction: $dir;
}

@mixin more-text ($line){
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}