@import "src/App";

.main__container {
      h3,
      h2{
        font-family: $mainFonts;
      }

  .section__welcome__container{
    padding:0 ;
    overflow: hidden;
    position: relative;
    &_video-footer{
      position: absolute;
      height: 250px;
      width: 120vw;
      bottom: -90px;
      left: -30px;
      z-index: 5;
      background-color: rgba(black, 0.8) ;
      transform: rotate(4deg);
      border-top: 4px solid yellow;
      h3{
        font-size: 120px;
        text-align: start;
        padding-left: 50px;
        transform: rotate(-4deg);
        color: yellow;

      }
    }
  }
  .second__section {
    background: $bgColorSecond;

  }

  section {
    padding: 0 40px 40px;

    .about {
      margin-top: 40px;
      margin-bottom: 40px;
      @include df(center, center, column);

      .about__desc_container {
        @include df(space-around, center);
        margin-top: 40px;

        .about__left_side {
          width: 40%;

          & .about__container:nth-child(1n + 2 ) {
            margin-top: 20px;
          }

          .about__container {

            @include df(center, center);
            gap: 30px;
            line-height: 25px;

            .about__icon {
              width: 60px;

              img {
                width: 100%;
              }
            }

          }
        }

        .about__right_side {
          width: 40%;

          .video {
            border-radius: 20px;
            overflow: hidden;
            height: 300px;
            width: 100%;
          }
        }
      }
    }


  }

  .aboutSeason__section {
    .aboutSeason {
      &__contents_container {
        h2 {
          @include title;

        }

        .content__container {
          position: relative;
          @include df(space-between, center);

          h3 {
            @include title;
          }

          &_img {
            width: 49%;

            img {
              border-radius: 20px;
              width: 100%;
            }

          }

          svg {
            position: absolute;
            top: 20px;
            right:  calc(45% - 350px);
            width:350px;
            height:350px;
            path {
              stroke-dashoffset: 200;
              stroke-dasharray: 200;
            }
          }

        }

        & .content__container:nth-child(odd) {
          flex-direction: row-reverse;
          position: relative;

          svg {
            top: 25px;
            left: calc(45% - 350px);
            width:350px;
            height:350px;
            & g {
              //fill-opacity: 0;
            }
          }
          svg  path{
            stroke-dashoffset: 200px;
            stroke-dasharray: 200px;
          }
        }
      }
    }
  }

  .harvest__section {
    //margin-top: 40px;
    padding: 0;
    .img__List_container:hover{
      cursor: pointer;
      .img__List{
        height: 60% ;
      }
    }
    .img__List_container{
      overflow: hidden;
      .img__List{
        background: rgba(255, 255, 255, 0.54);
        cursor: pointer;
        position: absolute;
        width: 100%;
        z-index: 50;
        height: 0;
        bottom: 0;
        transition: height .8s;
        .img__List_p-big{
          @include more-text(6)

        }
        .img__List_p{
          @include more-text(2)
        }
      }
    }
  }

    h2 {
      @include title;
    }


  .aboutMe__section{
    h2{
      @include title;
    }
    .aboutMe{
      background-size: cover;
      height: 600px;
      .aboutMe__left-side{
        h3{
          @include title
        }
        text-align: justify;
        width: 40%;

        p{
          padding-bottom: 10px;
        }
      }
    }
  }
}
